@model utlAPI.Models.Agents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FloatAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FloatAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Credit Client", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
